* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Container Class */
.container-wrapper {
  width: 100%;
}
/* NavBar Class */
.nav-section {
  width: 100%;
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
/* Icon Div */
.nav-icon {
  width: 30%;
  display: flex;
  margin-left: 5%;
  color: #fff;
  
  flex-wrap: wrap;
  
  align-items: center;
  font-family: "Goblin One", cursive;
}
/* Input Form */
.nav-inputs {
  width: 70%;
}
.nav-inputs input {
  height: 45px;
  font-family: "Goblin One", cursive;
  outline: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px;
}
/* Add Button Playlist */
.nav-inputs input#add-playlist-btn {
  height: 30px;
  border-radius: 5px;
  outline: none;
  background-color: #3498db;
  color: white;
}
/* videos-section */
.videos-section {
  width: 100%;
  margin-top: 25px;
  height: 500px;
  display: flex;
}
/* left side */
.playing-video {
  font-family: "Girassol", cursive;
  width: 60%;
  margin-left: 10px;
}
/* rightside */
.videos-list {
  width: 30%;
  margin-left: 5%;
  overflow-y: auto;
  margin-left: 5%;
  
box-shadow: 05px 05px 05px grey;
}
.video-header {
  width: 100%;
  font-size: 2rem;
  font-family: "Girassol", cursive;
  padding-left: 10px;
 
}
.iframes-video {
  position: relative;
  width: 100%;
  border: 0px 0px 2px 0px solid black;
  display: flex;
  align-items: center;
  margin-top: 3px;
}
.iframes-video iframe {
  width: 90%;
  height: 60px;
}
/* Styling of Buttons */
.btn{
  border: 1px solid black;
  background: none;
  padding: 10px 20px;
  font-size: 13px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

}
.btn1,.btn2{
  color: #3498db;
}
.btn2{
  width: 90%;
  text-align: center;
  font-family: 'Lobster', cursive;
 
}
.btnn{
  color: #3498db;
}


.btn1:hover,.btn2:hover{
  color: #fff;
}
.btnn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: red !important;
  z-index: -1;
  transition: 0.8s;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.del-btn{
  border-radius: 30px;
  width: 10%;
  height: 40px;
  background-color: white;
  cursor: pointer;
  color: #555555;
  margin-left: 2.5%;
margin-top: 2%;
border: 1px solid white;
}
.del-btn:hover{
  background-color: #3498db;
  transition: 0.8s ease-in;
  color: white;
  border: 1px solid white;
  
}

/* End of Mutli Btn styling */

/* add btn */
.buttons {
  border-radius: 5px;
  background-color: gray; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px gray;

}
.buttons:hover {
  background-color: #555555;
  color: white;
}

.videos-play {
  overflow-y: auto;
}
/* input text field */
input[type=text] {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 35%;
  background-color: #CCCCCC;
  color: white;
}
.themeChanger{
  position: absolute;
  /* background-color: blue; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.themeChanger:before{
  content:'\f186';
  color: #3498db;

}
@media screen and (max-width: 961px) {
  .nav-section {
    width: 100%;
    /* background-color: #ff0000; */
    height: auto;
    display: block;
    align-items: center;
    
  }
  .nav-icon {
    width: 100%;
/* margin: 5px auto; */
text-align: center;
 overflow: hidden;
    
    font-family: "Goblin One", cursive;
  }
  .nav-inputs input {
    height: 45px;
    font-family: "Goblin One", cursive;
    margin-left: 50%;
margin-top: 15px;
   
  }
  /* videos-section */
.videos-section {
  width: 100%;
  margin-top: 25px;
  height: 500px;
display: block;
}
  /* left side */
.playing-video {
  font-family: "Girassol", cursive;
  width: 100%;
}
.videos-list {
  width: 100%;
  margin-left: 5%;
  overflow-y: auto;
  margin-left: 5%;
}
}
